<div class="container">

  <div class="py-5 row">
    <div class="mx-auto text-center text-white col-lg-9">
        <form>
          <div class="mb-4 row">
            <div class="form-group col-md-6">
              <input id="search" type="text" placeholder="Enter Order id or Container id" class="form-control form-control-underlined">
            </div>
            <div class="form-group col-md-2">
              <button type="submit" onclick="searchOrder(event)" class="shadow-sm btn btn-primary rounded-pill btn-block">Search Order</button>
            </div>
            <div class="form-group col-md-2">
              <button type="submit" onclick="searchContainer(event)" class="shadow-sm btn btn-primary rounded-pill btn-block">Search Container</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div id="LOADER" class="py-5 row justify-content-between">
    <div class="mx-auto text-center text-white col-lg-9">
      <div class="lds-spinner">
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
  </div>


  <div id="NOTLOADING" class="py-5 row justify-content-between">
    <div class="mx-auto text-center text-dark col-lg-9">
      <img src="/img/notLoading.png" style="width: 270;" alt="Nothing There">
      <p>Search Now</p>
    </div>
  </div>

  
  <div id="NOTFOUND" class="py-5 row justify-content-between">
    <div class="mx-auto text-center text-dark col-lg-9">
      <img src="/img/404.png" style="width: 270;" alt="Nothing There">
      <p id="404Search">Search Now</p>
    </div>
  </div>


  <div id="CHESSORDER" class="row justify-content-between">
    <div class="mx-auto text-center text-dark col-lg-9">
      <div class="card">
        <div class="card-header text-dark">
         Order <span id="orderId"></span>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-action" >Amount : <span id="order_amount"> </span> </li>
          <li class="list-group-item list-group-item-action" >Chemical ID : <span id="order_chemicalID"> </span> </li>
          <li class="list-group-item list-group-item-action" >Company ID : <span id="order_companyID"> </span> </li>
          <li class="list-group-item list-group-item-action" >Contact : <span id="order_contact"> </span> </li>
          <li class="list-group-item list-group-item-action" >Containers : <span id="order_containers"> </span> </li>
          <li class="list-group-item list-group-item-action" >Date End : <span id="order_dateEnd"> </span> </li>
          <li class="list-group-item list-group-item-action" >Date Start : <span id="order_dateStart"> </span> </li>
          <li class="list-group-item list-group-item-action" >Size : <span id="order_size"> </span> </li>
          <li class="list-group-item list-group-item-action" >Suggestion Time : <span id="order_suggestion_time"> </span> </li>
          <li class="list-group-item list-group-item-action" >Total Amount : <span id="order_totalamount"> </span> </li>
          <li class="list-group-item list-group-item-action" >Total Amount Unit : <span id="order_totalamountunit"> </span> </li>
          <li class="list-group-item list-group-item-action" >Type : <span id="order_type"> </span> </li>
        </ul>
      </div>
    </div>
  </div>

  
  <div id="CHESSCONTAINER" class="row justify-content-between">
    <div class="mx-auto text-center text-dark col-lg-9">
      <div class="card">
        <div class="card-header text-dark">
         Container <span id="containerId"></span>
        </div>
        <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-action " >BlockCell : <span id="container_blockCell"> </span> </li>
                <li class="list-group-item list-group-item-action" >BlockX : <span id="container_blockX"> </span> </li>
                <li class="list-group-item list-group-item-action" >BlockY : <span id="container_blockY"> </span> </li>
                <li class="list-group-item list-group-item-action" >Cargo Contact : <span id="container_cargoContact"> </span> </li>
                <li class="list-group-item list-group-item-action" >Cargo Date : <span id="container_cargoDate"> </span> </li>
                <li class="list-group-item list-group-item-action" >Container ID : <span id="container_containerID"> </span> </li>
                <li class="list-group-item list-group-item-action" >Container ID Explanation : <span id="container_containerID_explanation"> </span> </li>
                <li class="list-group-item list-group-item-action" >Date Enter : <span id="container_dateEnter"> </span> </li>
                <li class="list-group-item list-group-item-action" >Date Leave : <span id="container_dateLeave"> </span> </li>
                <li class="list-group-item list-group-item-action" >Order ID : <span id="container_orderID"> </span> </li>
                <li class="list-group-item list-group-item-action" >Reservation ID : <span id="container_reservationID"> </span> </li>
                <li class="list-group-item list-group-item-action" >Size : <span id="container_size"> </span> </li>
                <li class="list-group-item list-group-item-action" >Status : <span id="container_status"> </span> </li>
                <li class="list-group-item list-group-item-action" >Tracker ID : <span id="container_trackerID"> </span> </li>
                <li class="list-group-item list-group-item-action" >Volume : <span id="container_volume"> </span> </li>
                <li class="list-group-item list-group-item-action" >Weight : <span id="container_weight"> </span> </li>
                <li class="list-group-item list-group-item-action" >Type : <span id="container__type"> </span> </li>
                <li class="list-group-item list-group-item-action" >Calculated Co2 : <span id="calculated_co2"> </span> </li>

        </ul>
      </div>
    </div>
  </div>
  </div>

</div>